.add-employee-wrapper {
  display: flex;
  flex-direction: column;
  padding: 100px 60px !important;
//   align-items: center;
  gap: 50px;

  .add-employee-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .add-employee-title {
      display: flex;
      gap: 12px;
      align-items: center;
    }

    .add-employee-header-cta {
      display: flex;
      align-items: center;
      gap: 12px;

      button {
        border-radius: 300px;
        outline: none;
        border: 1px solid #f89b2d;
        padding: 12px 24px;
      }
    }
  }

  .add-employee-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
  }
}

@media screen and (max-width: 720px) {
  .add-employee-wrapper{
    align-items: center;
    padding: 100px 24px !important;
  }
}
